body {
	color: #666666;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
	background-color: #f8f9fa;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'El Messiri', sans-serif;
}
.header {
	background-color: #316dc3;
	padding-top: 10px;
}
.social-icon-list {
	display: inline-block;
	list-style: none;
	margin-left: 45px;
}
.social-icon-list li {
	margin: 0px 5px 0px 15px;
	display: inline-block;
}

.socail-icon {
	font: 24px;
	color: white;
}
.button {
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	text-align:center;
}
.headerbtn {
	text-align: center;
}
.whatsapp {
	background: green;
}
.carousel-item img {
	height: auto;
	max-width: 100%;
}
.container-fluid-new {
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.saylanilogowrapper {
	margin-left: 5rem;
}
.Saylani-logo {
	max-height: 52px;
}
.navbar-nav li {
	margin-left: 1rem;
	font-size: 14px;
}
.navbar-nav a:hover {
	color: white !important;
	background: #316dc3;
	border-radius: 15px;
}

.navbar li, .homeButton{
padding-left: 8px;
padding-right: 8px;
}
.navbar li:hover,
.navbar li:active,
.homeButton {
	background: #316dc3;
	border-radius: 15px;
	color: white !important;
}

.navigationItems {
	padding-left: 22%;
}

.mywrapper {
	padding-left: 5rem;
	padding-right: 5rem;
	margin-bottom: 3rem;
}
.saylani-introduction {
	text-align: center;
	text-transform: uppercase;
	color: #316dc3;
	line-height: 1;
	margin-top: 3rem;
	font-size: 2rem;
}
.saylaniparagrapgh {
	text-align: justify;
	font-size: 15px;
	color: #666666;
}
.green {
	color: #427900;
}
.lightgreen {
	color: #00ff00;
}
.titleIcon {
	text-align: center;
}
.titleIcon img {
	height: 40px;
}
.rightbox {
	border-bottom: 2px solid green;
	width: 50px;
}
.leftbox {
	border-bottom: 2px solid green;
	width: 50px;
}

.bluebox {
	background-color: rgba(36, 79, 242);
	min-height: 200px;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.blueboxheading {
	color: white;
}
.shadowboxes {
	text-transform: uppercase;
	text-align: center;
}

.shadowBox {
	text-align: center;
	margin-bottom: 30px;
	padding: 30px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
	margin-top: 10px;
	background-color: white;
}
.shadowboxText {
	text-transform: uppercase;
	color: #316dc3;
	font-weight: 600;
	text-align: center;
	margin-top: 30px;
	font-size: 1.5rem;
}
.missionheading {
	color: #316dc3;
	font-weight: 600;
}

.footerheading {
	color: white;
	font-size: 20px;
}


.liststylefooter {
	list-style: none;	
}
.liststylefooter li i {
	font-size: 16px;
}
.footersocialiconlist {
	list-style: none;
	display: flex;
}

.footersocialiconlist li :hover {
	color: #316dc3;
	background: white;
}
.socail-icon-footer {
	color: white;
	font-size: 16px;
	background: #316dc3;
	border-radius: 50%;
	padding: 8px;
}

.footercolor {
	color: #bbb;
}

.missionbox {
	background: aliceblue;
	height: 78px;
	width: 320px;
	display: flex;
	align-items: center;
	background-color: #f7f8fa !important;
	border: 1px solid #eeee;
	margin:10px;
}


.font-30 {
	font-size: 45px;
	font-weight: 600;
}

.font-25 {
	font-size: 20px;
}
.font-26{
	font-size: 35px;

}
.left {
	max-width: 70%;
	min-height: 250px;
	background-color: white;
}
.right {
	max-width: 30%;
	min-height: 250px;
	background-color: white;
}
.footerlist{
	list-style: none;
}

.footerlist li{
	padding-top: 5px;
	font-size: 16px;
}

.footerlist li:hover{
	padding-right: 10px;
	font-size: 20px;
	color: white;
}

.missionbox .float-right{
	margin-right: 30px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/* body {background: red;} */
	.left{
		width: 100%;
	}
	.right{
		width: 100%;
		padding-left:50px;
		padding-top:30px;
	}

	.missionbox{
		width:100%;
		margin:10px;
		
	}
	 .float-right{
		float: none !important;
		margin-top:10px;
	}
	.missionheading{
		text-align:center;
		margin-left:5px !important;
	}
	.font-25{
		font-size: 16px;
	}
	.navigationItems {
		padding-left: 0%;
	}

	.headerbtn{
		margin:5px 0 5px 0 ;
	}
	.social-icon-list {
		display: inline-block;
		list-style: none;
		 margin-left: 0px; 
	}
	.social-icon-list li {
		margin: 0px 5px 0px 15px;
		display: inline-block;
		
	}
	.header{
		text-align:center;
	}
	.navbar{
		padding: 0;
	}

	.mywrapper {
		padding-left: 10px; 
		 padding-right: 10px;
		margin-bottom: 10px;
	}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
	/* body {background: green;} */
	
	.left{
		width: 100%;
	}
	.right{
		width: 100%;
	}
	.navigationItems{
		padding-left: 5px;
	}
	.missionbox{
		max-width:100%;
	}
	.saylanilogowrapper {
		margin-left: 5px;
	}

	.navbar li, .homeButton {
		padding-left: 0px; 
		 padding-right: 0px;
	}
	.header{
		text-align:center;
	}

	.mywrapper{
		padding-left: 10px;
		padding-right:10px
	}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
	/* body {background: blue;} */

	.navigationItems{
		padding-left: 23%;
	}
	.saylanilogowrapper {
		margin-left: 5px;
	}
	.navbar li, .homeButton {
		padding-left: 0px; 
		 padding-right: 0px;
	}

	.header{
		text-align:center;
	}
	.mywrapper{
		padding-left: 10px;
		padding-right:10px
	}
	.missionbox{
		max-width:100%;
		margin-right: 30px;
	}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
	/* body {background: orange;} */

  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
	/* body {background: pink;} */
  }